version: 2.1

jobs:
  test:
    docker:
      - image: circleci/golang:1.16
    steps:
      - checkout
      - run:
          name: Run vet
          command: go vet ./...
      - run:
          name: Run tests
          command: go test ./...

workflows:
  version: 2.1
  on_push:
    jobs:
      - test
